// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


body {
  overflow: hidden;
}

.min-vh-90 {
  min-height: 90vh;
}

@media (min-width: 768px) {
  .min-vh-90 {
    min-height: 90vh;
  }
}
