// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "font-awesome";

.bg-warning-box {
  background-color: rgb(250, 220, 158) !important;
}

.btn[type="submit"]:disabled {
  background-color: #6c757d !important;
  border-color: transparent !important;
  color: #fff !important;
  cursor: not-allowed !important;
}
