// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "font-awesome";

.bg-warning-box {
  background-color: rgb(250, 220, 158) !important;
}

h1,h2,h3,h4,h5,h6, p, a, span {
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

.btn[type="submit"]:disabled {
  background-color: #6c757d !important;
  border-color: transparent !important;
  color: #fff !important;
  cursor: not-allowed !important;
}

.btn-eleicao {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  > span {
    z-index: 12;
  }
  > span:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
}

.border-none {
  border: none !important;
  background-color: transparent !important;
}

.btn-with-hover:hover {
  background-color: #f8f9fa95 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  .btn-eleicao{
    > span {
      color: #000000 !important;
    }
  }
  p {
    color: #000000 !important;
  }
}

.bg-all {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.box-borded {
  border: 1px solid #e2e8f0;
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: rgba(169, 169, 169, 0.28);
}

.icon-box-eleicao {
  font-size: 16rem;
  color: rgba(255, 255, 255, 0.34);
  z-index: 0;
  &.icon-light {
    left: 30px;
    top: 18px;
    font-size: 12rem;
    color: rgba(255, 255, 255, 0.10);
  }
}

.z-2 {
  z-index: 2;
}

input[type='radio'] {
  display: none;

}

input[type='radio'] + label {
  cursor: pointer;
}

input[type='radio'] + label:before {
  content: '';
  width: 100%;
  position: absolute;
  min-height: 14rem;
  height: max-content;
  border-radius:4%;
  display: inline-block;
  background: rgba(255, 255, 255, 0);
  vertical-align: middle;
  box-shadow: 0 0 0 .1em white, 0 0 0 .2em black;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
  }
}

input[type='radio']:checked + label:before {
  //background: #718096;
  background: rgba(2, 8, 14, 0.80);
  vertical-align: middle;
  color: #0f0c29;

}

.ganhador {
  border: 1px solid #e2e8f0;
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: rgb(255, 229, 162);
}
